body{
    font-family: Arial;
    background:#111;
    color:white;
    text-align:center;
}

button{
    padding:10px;
    margin:5px;
    cursor:pointer;
}

.status-badge{
    padding:10px;
    display:inline-block;
    width:80px;
}

.status-badge.on{
    background:green;
}

.status-badge.off{
    background:red;
}

#motor.on{
    background:#22c55e;
}

#motor.off{
    background:#ef4444;
}

canvas{
    max-width:600px;
    margin:auto;
}
